TYPEORM_CONNECTION=mariadb
TYPEORM_HOST=localhost
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=root
TYPEORM_DATABASE=travel
TYPEORM_PORT=3307
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_MIGRATIONS=dist/database/migrations/**/*.js
TYPEORM_MIGRATIONS_DIR=src/database/migrations